name: Unit-Tests
on:
  push:
    paths:
      - 'go.mod'
      - '**.go'
      - '**.yml'

jobs:

  test:
    name: Test on go ${{ matrix.go_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go_version: [ 1.23, 1.22, 1.21, 1.19, '1.20' ]
        os: [ ubuntu-latest ] # , macOS-latest, windows-latest

    services:
      # https://docs.github.com/en/actions/guides/creating-redis-service-containers
      redis:
        image: redis
        ports:
          - 6379:6379 # export 6379 the port
        options: --health-cmd="redis-cli ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Go Faster
        uses: WillAbides/setup-go-faster@v1.14.0
        timeout-minutes: 3
        with:
          go-version: ${{ matrix.go_version }}

      - name: Revive check
        uses: morphy2k/revive-action@v2.5.9
        if: ${{ matrix.os == 'ubuntu-latest' }}
        with:
          # Exclude patterns, separated by semicolons (optional)
          exclude: "./internal/..."

      - name: Run staticcheck
        uses: reviewdog/action-staticcheck@v1
        with:
          github_token: ${{ secrets.github_token }}
          # Change reviewdog reporter if you need [github-pr-check,github-check,github-pr-review].
          reporter: github-pr-review
          # Report all results.
          filter_mode: nofilter
          # Exit with 1 when it find at least one finding.
          fail_on_error: true

      - name: Run unit tests
        #      run: go test -v -cover ./...
        run: go test -v -cover ./...
